.aside {
    position: fixed;
    text-align: center;
    width: 20vw;
    min-width: 289px;
    height: 100vh;
    margin-top: 57px;
    padding-top: 60px;
    box-shadow: 142px -20px 0 -140px rgba(0, 0, 0, 0.3);
    margin-bottom: 100px;
    z-index: 1;
}

.aside h1 {
    font-family: 'Crimson Text', serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.profile-photo {
    background: url(../../assets/profile.jpg);
    width: 14vw;
    height: 14vw;
    margin: auto;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.aside-data p {
    margin: 3px 0;
}

.aside-data {
    text-align: justify;
    font-size: 0.9rem;
    list-style: none;
    margin: 0 20px;
    padding-left: 0;
}

.social-media {
    padding: 0;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 15vw;
}

.social-media li {
    padding: 0;
    margin: 0;
    transition: 0.4s;
}

.social-media li:hover {
    font-size: 1.4rem;
    padding: 0 -4px;
}

.social-media li a {
    padding: 0;
    margin: 0;
    color: black;
    z-index: 1;
}

.fab {
    cursor: pointer;
}

/* MEDIA QUERYS */

@media (max-height: 538px) 
{
  .profile-photo {
    display: none;
   }
}

@media (max-width: 768px) {
    .aside {
        display: none;
    }
}