.sobre {
    display: flex;
    width: 100vw;
    margin-top: 0px;
    flex-direction: row;
}

.sobre-spacer {
    width: 20vw;
    min-width: 289px;
    height: 100vh;
}

.sobre-content {
    margin: 37px auto;
}

.sobre h1 {
    margin-top: 109px;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;  
}

.sobre p {
    margin: auto;
    width: 33vw;
    text-align: justify;
}

.sobre-last {
    padding-bottom: 20px;
}

.sobre-photo {
    background: url(../../assets/profile.jpg);
    width: 40vw;
    max-width: 170px;
    height: 40vw;
    max-height: 170px;
    margin: auto;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

@media (min-width: 769px) {
    .sobre-photo {
        display: none;
    }
}

@media (max-width: 768px) {

    .sobre {
        text-align: center;
        display: block;
        width: 80vw;
        margin: 57px auto;
        margin-bottom: 0;
    }

    .sobre h1 {
        padding-top: 57px;
    }

    .sobre p {
        margin: auto;
        width: 80%;
        text-align: justify;
    }

    .sobre-spacer {
        display: none;
    }
}